body {
    background-color: white;
}

h1 {
    font-size: 200%;
}

.main_content {
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

.description_text p {
    font-size: 150%;
}

.description_text ul {
    text-align: start;
}

.pic_wrapper {
    height: 256px;
    width: 256px;
    margin: 0 auto;
    padding: 0;
    /* border: solid thin steelblue; */
    background-image: url("./empty.png");
}

.pixelart {
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
    image-rendering: -webkit-optimize-contrast; /* Safari (WebKit) */
    image-rendering: -moz-crisp-edges;          /* Firefox (Gecko) */
    image-rendering: -o-crisp-edges;            /* Opera 12.x */
    image-rendering: pixelated;                 /* Chrome 41+, Opera 29+ (CSS4) */
    width: 256px;
    padding: 0;
    margin: 0;
}

.button {
    display: block;
    color: white;  
    background-color: steelblue;
    padding: 12px 24px;
    margin: 12px 10%;
    border-radius: 12px;
}

.info_table {
    width: 80%;
    margin: 24px 10%;
}

.info_table th {
    width: 40%;
    text-align: start;
}

#copy_ok_message {
    opacity: 0;
    font-weight: bold;
    color: rgb(24, 24, 24);
}

.code_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
}

#code {
    height: 100px;
    flex-grow: 1;
    height: auto;
}

.copy_button {
    height: 24px;
    padding: 12px 12px;
    margin: 6px;
    color: white;  
    background-color: steelblue;
    border-radius: 12px;
    text-align: center;
}

.convdata {
    display: none; 
}
