body {
    background-color: white;
}

h1 {
    font-size: 200%;
}

.main_content {
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

.description_text p {
    font-size: 150%;
}

.description_text ul {
    text-align: start;
}

.pic_wrapper {
    height: 256px;
    width: 256px;
    margin: 0 auto;
    padding: 0;
    /* border: solid thin steelblue; */
    background-image: url("./empty.png");
}

.pixelart {
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+ */
    image-rendering: -webkit-optimize-contrast; /* Safari (WebKit) */
    image-rendering: -moz-crisp-edges;          /* Firefox (Gecko) */
    image-rendering: -o-crisp-edges;            /* Opera 12.x */
    image-rendering: pixelated;                 /* Chrome 41+, Opera 29+ (CSS4) */
    width: 256px;
    padding: 0;
    margin: 0;
}

.file_input {
    color: white;  
    background-color: steelblue;
    padding: 12px 24px;
    border-radius: 12px;
}

.code_div {
    display: table;
    box-sizing: border-box;
    margin: 0 auto;
}

#code {
    display: table-cell;
}

.copy_button {
    display: table-cell;
    padding: 0px 12px;
    color: white;  
    background-color: steelblue;
    vertical-align: middle;
    border-radius: 12px;
}

.convdata {
    display: none; 
}
